{% extends 'base.html' %}
{% load static %}



{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'posts_by_categories.css' %}">
{% endblock style %}


{% block content %}
<div class="posts-by-categories mt-5">
    <div class="container-fluid">
        <h2 class="mb-5 re-headline"> <span class="re-highlighted-span pe-1"> posts</span> by category</h2>
        <div class="" id="posts-by-categories-posts-container">

        </div>
        <div id='spinner-for-posts-categories' class='text-center'>
            <div style="color:#00AAA1 !important;" class="spinner-border text-primary" role="status">
            </div>
        </div>
        <div class='text-center mt-5 mb-3'>
            <button class='re-load-more-btn d-none' id='load-more-categories'>load more</button>
        </div>
        <div style="margin-top:70px" id="no-more-posts-div" class='text-center mb-3 d-none'>
            <div class="row">
                <div class="col-lg-3"></div>
                <div style="border-radius: 10px;
                background: #F2F8F7;" class="col-lg-6 p-4">
                    <h5>No posts to load</h5>
                </div>
                <div class="col-lg-3"></div>
            </div>

        </div>
    </div>

</div>


{% endblock content %}


{% block scripts %}

<script src="{% static 'posts_by_categories.js' %}"></script>

{% endblock scripts %}