{% extends 'base.html' %}
{% load static %}
{% load social_share %}



{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'post_detail.css' %}">
{% endblock style %}


{% block content %}

<div class="post-detail">
    <div class="container-fluid">
        <div class="row">
            <div style="padding-right:50px" class="col-lg-8">
                <div class="spinner-container text-center mt-4">
                    <div id="spinner-for-post-detail" style="color:#00AAA1" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="main-post-detail">
                    <div id="post-container-post-detail"></div>
                    <h6 class="mt-3" id="related-tags-headline-post-detail"></h6>
                    <div id="related-tags-post-detail"></div>
                </div>

                <div class="share-on-social-media">
                    <!-- <div class="ps-4"> {% post_to_facebook object_or_url "Post to Facebook!" %}</div> -->
                    <div> {% post_to_twitter "Check it out!" object_or_url "Post to Twitter" %}
                    </div>
                    <div> {% copy_to_clipboard object_or_url "Copy to clipboard!" %}
                    </div>

                    <div class="pe-4">

                        {% send_email "Your Subject" object_or_url "Share via email" %}

                    </div>


                </div>


                <div class="related-posts-post-detail">
                    <h2 class="re-headline related-posts-headline" id="related-posts-headline-post-detail"></h2>
                    <div class="row" id="related-posts-container-post-detail">

                    </div>

                </div>

                <div style="margin-top:100px" class="comment-post-detail">
                    <div id="disqus_thread"></div>
                    <script>

                        (function () { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://anything-13.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                            powered by Disqus.</a></noscript>
                </div>


            </div>
            <div class="col-lg-4 mt-4">
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}

<script src="{% static 'post_detail.js' %}" defer></script>

{% add_copy_script %}

{% endblock scripts %}