.contact-us-first-section .container-fluid {
    width: 85%;
    padding-top: 70px;
    padding-bottom: 70px;
}


#send-msg-form input,
textarea {
    border-radius: 5px !important;
    border: 1px solid #94D7D3 !important;

}

.send-message-btn {
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-radius: 5px;
    background: #00AAA1;
    border: none;
    padding: 12px 25px;
    /* 15px */
}

.contact-us-follow-headline {
    color: #222;
    font-family: "Noto Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 25px;
    margin-bottom: 15px;
    /* 22.5px */
}

.contact-us-first-section .info-container p {
    color: #555;
    font-family: "Noto Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

#send-msg-form .name,
.email {
    width: 100%
}


@media screen and (max-width:500px) {
    #send-msg-form #name-email-container {
        flex-direction: column;
    }

    #send-msg-form .name,
    .email {
        width: 100% !important
    }

    .contact-us-first-section .container-fluid {
        width: 90%;

    }


}