.not-found .container-fluid {
    width: 85%;
    padding-top: 100px;
    padding-bottom: 50px;
}

._404 {
    color: #00AAA1;
    text-align: center;
    font-family: Noto Sans;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 200px */
}

.not-found-headline {
    color: #333;
    font-family: "Noto Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 25.5px */
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 30px;
}

.not-found-link {
    color: #00AAA1;
    font-family: "Noto Sans";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 26.6px */
    text-transform: capitalize;
    text-decoration: none;
}

/* css media query */

@media screen and (max-width:767.20px) {
    ._404 {
        font-size: 100px;
    }
}