.top-author-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.top-author-name {
    color: #222;
    font-family: "Noto Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 17px */
    text-transform: capitalize;
}

.top-author-profession {
    color: #666;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 18px */
    text-transform: capitalize;
}

.social-container a {
    text-decoration: none;
    border: 1px solid #C4C4C4;
    padding: 3px 3px 3px 8px;
    margin-right: 10px;
    border-radius: 5px;
}

.social-container a svg {
    width: 13px;
    height: 13px;
}