{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'pp.css' %}">
{% endblock style %}


{% block content %}
<div class="pp">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12">
                <h3 class="re-post-title mt-5"> Privacy Policy for SnapBlog</h3>

                <p class="re-post-content"> At SnapBlog, accessible from [insert website URL], one of our main
                    priorities is the privacy of our
                    visitors. This Privacy Policy document outlines the types of information that SnapBlog collects and
                    how
                    we use it.

                    If you have additional questions or require more information about our Privacy Policy, please
                    contact us
                    via email at [insert email address].</p>

                <h5><b> Information We Collect</b></h5>

                <p class="re-post-content"> SnapBlog may collect personal information from you when you:

                    Register on our site
                    Subscribe to our newsletter
                    Fill out a form
                    Comment on a post
                    The information we collect may include, but is not limited to:</p>
                <ul>
                    <li class="re-post-content"> Your name</li>
                    <li class="re-post-content"> Email address</li>
                    <li class="re-post-content"> Postal address</li>
                    <li class="re-post-content"> Phone number</li>
                </ul>


                <h5><b> How We Use Your Information</b></h5>

                <p class="re-post-content"> We may use the information we collect from you in various ways, including:
                </p>
                <ul>
                    <li class="re-post-content"> To personalize your experience on our website</li>
                    <li class="re-post-content"> To improve our website based on your feedback</li>
                    <li class="re-post-content"> To send periodic emails regarding our products and services</li>
                </ul>

                <h5><b> Data Security</b></h5>

                <p class="re-post-content">SnapBlog is committed to ensuring the security of your personal information.
                    We implement appropriate
                    technical and organizational measures to protect your data against unauthorized access, alteration,
                    disclosure, or destruction.</p>

                <h5><b> Third-Party Links</b></h5>
                <p class="re-post-content"> SnapBlog may contain links to third-party websites. Please note that we have
                    no control over the content
                    and practices of these sites and cannot be held responsible for their privacy policies. We encourage
                    you
                    to review the privacy policies of any third-party sites you visit.</p>


                <h5><b>
                        Changes to This Privacy Policy
                    </b></h5>

                <p class="re-post-content"> SnapBlog reserves the right to update or change our Privacy Policy at any
                    time. Any changes will be
                    posted on this page, and the date of the last update will be indicated at the top of the page.</p>

                <h5><b> Consent</b></h5>

                <p class="re-post-content"> By using our website, you hereby consent to our Privacy Policy and agree to
                    its terms.

                    If you require any more information or have any questions about our Privacy Policy, please feel free
                    to
                    contact us via email at [insert email address].</p>


            </div>
        </div>
    </div>

</div>


{% endblock content %}