{% load static %}

<head>
    <link rel="stylesheet" type='text/css' href={% static 'sidebar.css' %}>
</head>

<div class="sidebar">
    <h2 id="top-authors-headline"><span class="top-authors-span">top</span> authors</h2>
    <div id="top-authors-container">

    </div>
    <div id="ad-container">
    </div>
    <h2 class='category-headline'><span class="category-span-sidebar">Categories</span> </h2>
    <div id="category-container"></div>

    <script src="{% static 'sidebar.js' %}"></script>
</div>