{% load static %}

<head>

    <link rel="stylesheet" type='text/css' href={% static 'sidebar.css' %}>
</head>

<div class="sidebar">
    <div class="spinner-container text-center">
        <div id="spinner-for-top-authors" style="color:#00AAA1" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h2 id="top-authors-headline"></h2>

    <div id="top-authors-container">

    </div>
    <div class="spinner-container text-center">
        <div id="spinner-for-ad" style="color:#00AAA1" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="ad-container">
    </div>
    <div class="spinner-container mt-5 text-center">
        <div id="spinner-for-category" style="color:#00AAA1" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h2 id="category-headline-sidebar" class='category-headline'>
    </h2>
    <div id="category-container"></div>
    <div class="spinner-container mt-5 text-center">
        <div id="spinner-for-todays-update" style="color:#00AAA1" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h2 id="todays-update-headline-sidebar" class="todays-update-headline"></h2>
    <div id="todays-update-container"></div>

    <div class="spinner-container mt-5 text-center">
        <div id="spinner-for-insta-posts" style="color:#00AAA1" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h2 id="insta-posts-headline-sidebar" class="insta-posts-headline"></h2>
    <div class='row gx-3' id="insta-posts-container"></div>
    <div class="spinner-container mt-5 text-center">
        <div id="spinner-for-tags-sidebar" style="color:#00AAA1" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h2 id="tags-headline-sidebar-id" class="tags-headline-sidebar"> </h2>

    <div class='mb-5' id="tags-container"></div>




    <script src="{% static 'sidebar.js' %}"></script>
</div>