{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'support.css' %}">
{% endblock style %}


{% block content %}
<div class="support">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12">
                <h3 class="re-post-title mt-5"> Support </h3>
                <p class="re-post-content">Welcome to the SnapBlog Support Page! We're here to assist you with any
                    questions, concerns, or issues you may have regarding our website. Below, you'll find information on
                    how to get in touch with us and resources that may help you find answers.
                </p>

                <h5><b>Contact Us</b></h5>
                <p class="re-post-content">If you need direct assistance or have specific questions, please don't
                    hesitate to reach out to us. You can contact us via email at [insert email address]. Our support
                    team will strive to respond to your inquiry as soon as possible.
                </p>
                <h5><b> Frequently Asked Questions (FAQ)</b></h5>

                <p class="re-post-content">Before contacting us, you may find it helpful to check our Frequently Asked
                    Questions (FAQ) section. Here are answers to some common inquiries:
                </p>
                <h5><b>How do I create an account on SnapBlog?</b></h5>
                <ul>
                    <li class="re-post-content">To create an account on SnapBlog, simply click on the "Sign Up" or
                        "Register" button located on the homepage. Follow the prompts to enter your information and set
                        up
                        your account.
                    </li>
                </ul>

                <h5><b>How do I submit a blog post?</b></h5>
                <ul>
                    <li class="re-post-content"> Once you're logged in to your SnapBlog account, navigate to the
                        dashboard and click on the "New Post"
                        button. Follow the instructions to create and submit your blog post.
                    </li>
                </ul>

                <h5><b>I forgot my password. How can I reset it?</b></h5>
                <ul>
                    <li class="re-post-content"> If you've forgotten your password, you can reset it by clicking on the
                        "Forgot Password" link on the
                        login page. Follow the instructions to reset your password via email.
                    </li>
                </ul>

                <h5><b>How can I report inappropriate content or abuse?</b></h5>
                <ul>
                    <li class="re-post-content"> If you encounter any inappropriate content or abuse on SnapBlog, please
                        report it to us immediately by
                        emailing [insert email address]. Be sure to provide details and any relevant information to help
                        us
                        address the issue promptly.</li>
                </ul>

                <h5><b>Feedback</b></h5>

                <p class="re-post-content">We value your feedback and suggestions! If you have any ideas for improving
                    SnapBlog or features you'd like to see added, please let us know. Your input helps us enhance the
                    user experience for everyone.
                </p>

                <h5><b>Terms of Service</b></h5>

                <p class="re-post-content">For information on the terms and conditions governing the use of SnapBlog,
                    please refer to our Terms of Service page.

                    Thank you for choosing SnapBlog! We're here to support you every step of the way.</p>


            </div>
        </div>
    </div>

</div>


{% endblock content %}